body {
  background-image: url(pxfuel.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.slide {
  padding-top: 40px;
  margin: 0 auto;
  width: 70vw;
}

.character-box {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  flex-wrap: wrap;
}
